<p>
	<h4>
	Here we consume our REST service with AngularJS
	</h4>
</p>

<p>
	Add new person by filling out form.
</p>

<p>
	<!-- SHOW ERROR/SUCCESS MESSAGES -->
	<div id="messages" ng-show="addPersonMessage">{{ addPersonMessage }}</div>

	<!-- FORM -->
	<form name="addPersonForm" ng-submit="processAddPersonForm()">

		<!-- FIRST NAME -->
		<div id="id-group" class="form-group" ng-class="{ 'has-error' : errorId }">
			<label>Id</label>
			<input type="text" name="id" class="form-control" placeholder="" ng-model="personFormData.id">
			<span class="help-block" ng-show="errorId">{{ errorId }}</span>
		</div>
	
		<!-- FIRST NAME -->
		<div id="fname-group" class="form-group">
			<label>First Name</label>
			<input type="text" name="firstName" class="form-control" placeholder="" ng-model="personFormData.firstName">
			<span class="help-block"></span>
		</div>
		
		<!-- MIDDLE NAME -->
		<div id="mname-group" class="form-group">
			<label>Middle Name</label>
			<input type="text" name="middleName" class="form-control" placeholder="" ng-model="personFormData.middleName">
			<span class="help-block"></span>
		</div>
		
		<!-- LAST NAME -->
		<div id="lname-group" class="form-group">
			<label>Last Name</label>
			<input type="text" name="lastName" class="form-control" placeholder="" ng-model="personFormData.lastName">
			<span class="help-block"></span>
		</div>

		<!-- SUBMIT BUTTON -->
		<button type="submit" class="btn btn-success btn-lg btn-block">
			<span class="glyphicon glyphicon-flash"></span> Submit!
		</button>
		
	</form>
</p>

<p>
	<!-- SHOW DATA FROM INPUTS AS THEY ARE BEING TYPED -->
	<pre>
		{{ personFormData }}
	</pre>
	
</p>

<p>
	<h4>Person Data</h4>
	{{ sampleDataOut }}
</p>

<p>
	<div class="myGridStyle" ng-grid="gridOptions"></div>
</p>

<p>
	Showing of 'interpolate' filter:
	{{ 'Current version is v%VERSION%.' | interpolate }}
</p>
