
<p>
Below are some direct links to our test RESTful service implemented using Jersey.
</p>

<p>
Data is pulled from CountryList.csv & Names.csv under src/main/resources/csv
</p>

<p>
People service. Data is pulled from Names.csv. 
</p>

<p>
<ul>
	<li><a href="jersey/person/1">fetch person 1 (jersey/person/1)</a></li>
	<li><a href="jersey/person/all">fetch all people (jersey/person/all)</a></li>
</ul>
</p>

<p>
Sample service. Data is pulled from CountryList.csv. 
</p>

<p>
<ul>
	<li><a href="jersey/sample/rowcount">fetch csv row count (jersey/sample/rowcount)</a></li>
	<li><a href="jersey/sample/keyset">fetch data keyset as JSON (jersey/sample/keyset)</a></li>
	<li><a href="jersey/sample/alpha/S">fetch data rows where first name starts with 'S' (jersey/sample/alpha/S)</a></li>
	<li><a href="jersey/sample/find?first=S&last=t">fetch data rows where first name starts with 'S' and last name ends with 't' (jersey/sample/find?first=S&last=t)</a></li>
</ul>
</p>